<!doctype html>
<html>
<head>
    <title>HelpApp</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body  style="background-color:#9c9f84;">
    
    <%= render :partial => "layouts/header" %>
    <br><br><br><div class="row">
        <div class=" col-md-4 col-md-offset-5">
            <h1>Help App</h1>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4 col-md-offset-4">
            <h2>We are here to help you</h2>
        </div>
    </div><br>

</body>
</html>